[*.{cs,vb}]

# IDE0017: Simplify object initialization
dotnet_style_object_initializer = true

# IDE0047: Remove unnecessary parentheses
dotnet_style_parentheses_in_arithmetic_binary_operators = always_for_clarity
