@model Cafe.Models.HoaDon

@{
    ViewData["Title"] = "Edit";
}

<div class="w3-row">
    <h1><b>HoaDon/</b>Edit</h1>
</div>
<hr />
<div class="max-width-40 ud-center">
    <div class="w3-container w3-blue w3-round">
        <h2 class="w3-center">Edit HoaDon</h2>
    </div>
    <form asp-action="Edit" class="w3-container w3-card-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="HoaDonID" />
        <input type="hidden" asp-for="KhachHangID" />
        <input type="hidden" asp-for="NhanVienID" />
        <input type="hidden" asp-for="SanPhamID" />
        <input type="hidden" asp-for="CreateDate" />
        <div class="w3-row w3-margin-top">
            <div class="w3-col l8">
                <label asp-for="SoLuong" class="control-label"></label>:
                <input asp-for="SoLuong" class="form-control" />
                <span asp-validation-for="SoLuong" class="text-danger"></span>
            </div>
        </div>
        <div class="w3-row w3-margin-top">
            <label asp-for="Gia" class="control-label"></label>
            <input asp-for="Gia" class="form-control" />
            <span asp-validation-for="Gia" class="text-danger"></span>
        </div>
        <hr>
        <div class="w3-row w3-margin-top w3-margin-bottom">
            <a asp-action="Index" class="w3-btn w3-green w3-round">Quay lại</a>
            <input type="submit" value="Save" class="w3-btn w3-blue w3-round w3-right" />
        </div>
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}