@model Cafe.Models.NhanVien

@{
    ViewData["Title"] = "Create";
}

<div class="w3-row">
    <H1><b>Nhân Viên/</b>create</H1>
</div>
<hr>
<div class="max-width-40 ud-center">
    <div class=" w3-container w3-brown">
        <h2>Thêm nhân viên mới</h2>
       
    </div>
    <form asp-action="Create" class="w3-container w3-card-4 w3-padding ">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="w3-row">
            <div class="w3-col l2">
                <label asp-for="NhanVienID" class="control-label"></label>
                <input asp-for="NhanVienID" class="w3-input w3-border w3-border-brown w3-round" />
                <span asp-validation-for="NhanVienID" class="text-danger"></span>
            </div>

            <div class="w3-col l8 w3-right">
                <label asp-for="NhanVienName" class="control-label"></label>
                <input asp-for="NhanVienName" class="w3-input w3-border w3-border-brown w3-round" />
                <span asp-validation-for="NhanVienName" class="text-danger"></span>
            </div>
            <div class="w3-col l8 w3-right ">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="w3-input w3-border w3-border-brown w3-round" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
              <div class="w3-col l3 ">
                <label asp-for="SDT" class="control-label"></label>
                <input asp-for="SDT" class="w3-input w3-border w3-border-brown w3-round" />
                <span asp-validation-for="SDT" class="text-danger"></span>
            </div>
            <div class="w3-col l8 w3-right">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="w3-input w3-border w3-border-brown w3-round" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>
        <div class="w3-margin-top">
            <a class="w3-btn w3-round w3-brown w3-card-4" asp-action="Index">Quay lại</a>
            <input type="submit" value="Create" class="w3-btn w3-brown w3-right w3-round w3-card-4" />
        </div>
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}