@model Cafe.Models.NhanVien

@{
    ViewData["Title"] = "Edit";
}
<style>
    /* CSS cho bảng */
    table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 10px; /* Khoảng cách giữa các ô */
        background-color: #654321; /* Màu nền nâu */
        color: #ffffff; /* Màu chữ trắng */
    }

    th, td {
        padding: 10px;
        text-align: left;
    }

    th {
        background-color: #8B4513; /* Màu nền nâu đậm cho header */
    }

    /* CSS cho input và button */
    input[type="text"], input[type="email"], input[type="submit"] {
        width: calc(100% - 24px); /* Độ rộng của input */
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type="submit"] {
        background-color: #8B4513; /* Màu nền nâu đậm cho button */
        color: #ffffff; /* Màu chữ trắng */
        cursor: pointer;
    }

    /* CSS cho link "Back to List" */
    a {
        color: #8B4513; /* Màu chữ là nâu đậm */
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline; /* Hiển thị gạch chân khi hover */
    }
</style>

<h1>Edit</h1>

<h4>NhanVien</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NhanVienID" />
            <div class="form-group">
                <label asp-for="NhanVienName" class="control-label"></label>
                <input asp-for="NhanVienName" class="form-control" />
                <span asp-validation-for="NhanVienName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SDT" class="control-label"></label>
                <input asp-for="SDT" class="form-control" />
                <span asp-validation-for="SDT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
